<div ng-controller="RoomController as vm">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Filter</h1>
        Room name
        <input type="text" name="room.id" ng-model="vm.filter.roomId" >
        Start date
        <input type="text" name="date.start" ng-model="vm.filter.dteStart" >
        End date
        <input type="text" name="date.end" ng-model="vm.filter.dteEnd" >

        <button type="button" name="load.temperature" class="btn btn-info" ng-click="vm.loadTemperatures(vm.filter.roomId, vm.filter.dteStart, vm.filter.dteEnd)">Get Temp!</button>
        <button type="button" name="load.humidity" class="btn btn-success" ng-click="vm.loadHumidity(vm.filter.roomId, vm.filter.dteStart, vm.filter.dteEnd)">Get Hum!</button>
        <button type="button" name="load.luminance" class="btn btn-danger" ng-click="vm.loadLuminance(vm.filter.roomId, vm.filter.dteStart, vm.filter.dteEnd)">Get Lux!</button>
        <button type="button" name="load.motion" class="btn btn-dark" ng-click="vm.loadMotion(vm.filter.roomId, vm.filter.dteStart, vm.filter.dteEnd)">Get Moves!</button>
        <button type="button" name="load.all" class="btn btn-default" ng-click="vm.loadAll(vm.filter.roomId, vm.filter.dteStart, vm.filter.dteEnd)">Get All!</button>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Temperatures</div>
                    <div class="panel-body" ng-if="vm.temperaturesChart">
                        <zingchart id="chart.temp" zc-json="vm.temperaturesChart" zc-height=400 zc-width=1300></zingchart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Humidity</div>
                    <div class="panel-body" ng-if="vm.humidityChart">
                        <zingchart id="chart.humidity" zc-json="vm.humidityChart" zc-height=400 zc-width=1300></zingchart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Luminance</div>
                    <div class="panel-body" ng-if="vm.luminanceChart">
                        <zingchart id="chart.luminance" zc-json="vm.luminanceChart" zc-height=400 zc-width=1300></zingchart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Motion</div>
                    <div class="panel-body" ng-if="vm.motionChart">
                        <zingchart id="chart.motion" zc-json="vm.motionChart" zc-height=400 zc-width=1300></zingchart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
