<div ng-controller="SensorController as vm">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Filter</h1>
        <button type="button" name="load.temperature" class="btn btn-info pull-right" ng-click="vm.loadTemperatures('3', 'Pi 3', '20160101', '20160202')">Get !</button>
    </div>
    <div class="wrapper-md" ng-controller="SensorController as vm">
        <div class="row">
            <!-- <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">Temperature
             <button type="button" name="load.temperature" class="btn btn-info btn-xs" ng-click="vm.loadTemperatures('3', 'Pi 3', '20160101', '20160202')">Get !</button>
          </div>
          <div class="panel-body">
            <span ng-repeat="temp in vm.temperatures">
                {{temp.temperature}}
            </span>
          </div>
        </div>
      </div> -->
            <!-- <div class="col-md-6"> -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Temperatures</div>
                    <div class="panel-body" ng-if="myJson">
                        <!-- <button type="button" class="btn btn-danger" name="button" ng-click="vm.test()">CLICK HERE !</button> -->
                        <zingchart id="myChart" zc-json="myJson" zc-height=400 zc-width=1000></zingchart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
